html, input{
    font-family: sans-serif;
    }
body{
    width: 80%;
    max-width:500 px;
    margin:0px auto;
    padding:2em;
}
.headerContainer{
    display: flex;
    background: tomato;
    align-content: center;
    flex-flow: column wrap;
    font-weight: bold;
    margin-bottom: 20px;
}
form{
    margin-top: 50px;
}
div{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 18%;
}
label,input,button{
    font-size:16px;
    line-height:1.5;
}
label{
    text-align: right;
    width:40%;
    margin-right:2%;
}
input{
    flex:auto;
}
button{
    width:50%;
    margin:0 auto;
}
error-output{
    font-size:12px;
    font-style:italic;
    color:red;
}
@media screen and (min-width: 600px){
    .headerContainer{
        grid-template-areas:
        "header header"
        "sidebar main";
    }
}